/* ==============================
   CABEÇALHO
   ============================== */
.dashboard {
  min-height: 100vh;
  padding: 40px;
}
.header {
  margin-bottom: 35px;
}
.header h1 {
  margin: 0;
  font-size: 32px;
}

.header p {
  margin-top: 8px;
  color: #666;
}

.conteudo {
  max-width: 1200px;
  margin: 0 auto;
}

.resumo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.icone {
  font-size: 38px;
}

.card {
  display: flex;
  align-items: center;
  gap: 18px;

  padding: 25px;

  background: white;
  border-radius: 16px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.card p {
  margin: 0 0 8px;
  color: #666;
}

.card strong {
  font-size: 24px;
}

/* ==============================
   LISTA DE VEÍCULOS
   ============================== */

.lista-veiculos {
  margin-top: 30px;
}

.lista-veiculos h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #222;
}

.sem-veiculos {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  color: #777;
  text-align: center;
}

.veiculos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-veiculo {
  background: #ffffff;
  border-radius: 14px;
  padding: 22px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.veiculo-topo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.tipo-veiculo {
  color: #666;
  font-size: 14px;
}

.card-veiculo h3 {
  margin: 6px 0 0;
  font-size: 21px;
  color: #222;
}

.ano-veiculo {
  background: #eeeeee;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

.dados-veiculo {
  display: grid;
  gap: 8px;
}

.dados-veiculo p {
  margin: 0;
  color: #555;
  font-size: 15px;
}

.dados-veiculo strong {
  color: #222;
}

.observacao-veiculo {
  margin-top: 18px;
  padding-top: 15px;
  border-top: 1px solid #eeeeee;
}

.observacao-veiculo p {
  margin: 6px 0 0;
  color: #666;
}

/* ==============================
   RESPONSIVIDADE
   ============================== */

@media (max-width: 700px) {
  .veiculos-grid {
    grid-template-columns: 1fr;
  }
}

/* ==============================
   Acaoes
   ============================== */
.acoes-dashboard {
  margin-top: 30px;
}

.btn-veiculo {
  width: 100%;
  min-height: 70px;
  border: 2px dashed #cbd5e1;
  border-radius: 16px;
  background: transparent;
  color: #1e293b;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-veiculo:hover {
  background: #f8fafc;
  border-color: #94a3b8;
}

.btn-voltar {
  margin-left: 10px;
  padding: 14px 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #1448b9;
  color: #ffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-voltar:hover {
  background: #f3f3f3;
}
/* ==============================
   Celular
   ============================== */
@media (max-width: 768px) {
  .dashboard {
    padding: 20px;
  }

  .resumo {
    grid-template-columns: 1fr;
  }
}
